* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #07050e;
  padding: 0 100px;
  color: white;
  /* position: relative; */
}


.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.put {
  background-color: transparent !important;
  border: none;
  width: 100%;
  padding: 7px;
  font-size: 15px;
  color: rgb(249, 236, 236);
  outline: none;
}

.put:focus-within {
  border-color: rgb(139, 184, 226) !important;
}

.nav-btns {
  color: rgb(135, 135, 135) !important;
}
.nav-btns:hover {
  color: #fff !important;
}
.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ddd1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  margin-top: 30px;
  padding-bottom: 100px;
  color: white;
  border-radius: 5px;
}

.hhh2 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* .hhh2:hover {
  color: aliceblue;
  transition: 0.7s;
} */

.iii3 {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  outline: none;
  background-color: rgb(255, 255, 255);
  padding-left: 2vw;
}

.iii3::placeholder {
  color: rgb(59, 52, 52);
}


.bbb4 {
  width: 278px;
  height: 30px;
  border-radius: 5px;
  background-color: red;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: 40px;
  border: none;
  box-shadow: 0 0 5px white;
}

.bbb5 {
  color: blue;
  border: none;
  background-color: transparent;
  margin-top: 20px;
  font-size: 20px;
}

.portIcon:hover {
  color: white;
  transition: 0.7s;
}

.platnyi {
  width: 270px;
  height: 30px;
  color: white;
  margin-left: 20px;
}
/* img */
.container {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
  width: 1100px;
  margin: 2vw auto;
}

.wrapper {
  width: 1100px;
  display: flex;
  animation: slide 60s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-200%);
  }
  30% {
    transform: translateX(-300%);
  }
  40% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(-500%);
  }
  60% {
    transform: translateX(-600%);
  }
  70% {
    transform: translateX(-700%);
  }
  80% {
    transform: translateX(-800%);
  }
  90% {
    transform: translateX(-900%);
  }
  100% {
    transform: translateX(-1000%);
  }
}

.platnyi-dom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.platnyi-dom1 {
  width: 89%;
  height: 50px;
  background-color: rgb(57, 45, 83);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  cursor: alias;
}

.footer {
  /* position: absolute; */
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(135, 135, 135);
  background-color: transparent;
  /* padding-top: 10em; */
  /* position: relative; */
  bottom: 0;
  width: 100%;
}

.container2 {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 5px;
  /* margin-top: 2%; */
  text-decoration: none;
}

.list__type {
  margin-bottom: 10px;
  list-style-type: none;
}

.list__type:hover {
  color: white;
}

.mar_h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: white !important;
}

.typeChat {
  width: 150px;
  height: 30px;
  background-color: rgb(57, 45, 83);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.emailicon {
  margin-left: 5px;
  background-color: rgb(57, 45, 83);
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.localicon {
  margin-left: 15px;
  background-color: rgb(57, 45, 83);
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.campainicon {
  border-radius: 20px;
  border: none;
  width: 100px;
  height: 100px;
  background-color: rgb(97, 97, 177);
  box-shadow: 10px 10px 200px 10px rgb(104, 132, 197);
}

.campainicon2 {
  color: white;
}

.imgg__poisk {
  /* background-color: rgb(97, 97, 177); */
  color: rgb(97, 97, 177);
}

.stackpag {
  display: flex;
  justify-content: center;
  background-color: rgb(56, 56, 80);
}

hr {
  margin: 20px 0;
  border: 1px solid rgba(126, 127, 121, 0.298);
}

#productCard {
  transition: 0.8s;
}

#productCard:hover {
  /* transform: scale(1.1); */
  transition: 0.8s;
}

.t {
  margin-top: 50px;
  margin-bottom: 50px;
  transform: translateY(0%) translateZ(0);
  width: 280px;
  height: 450px;
  background-color: rgb(135, 135, 135);
  box-shadow: 0 0 10px rgb(0, 255, 255);
  overflow: hidden;
  transition: box-shadow 0.5s;
  border-radius: 1vw;
}

.t a {
  color: inherit;
  text-decoration: none;
}

.t:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

/**
   * DATE
   **/
.card__date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  background-color: rgb(215, 57, 0);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 13px;
}

.card__date__day {
  font-size: 14px;
}

.card__date__month {
  text-transform: uppercase;
  font-size: 10px;
}

/**
   * THUMB
   **/
.card__thumb {
  height: 360px;
  overflow: hidden;
  background-color: #000;
  transition: height 0.5s;
}

.card__thumb img {
  display: block;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.5s;
}

.t:hover .card__thumb {
  height: 200px;
}

.t:hover .card__thumb img {
  opacity: 0.6;
  transform: scale(1.2);
}

/**   * BODY
   **/
.card__body {
  position: relative;
  /* height: 10px; */
  padding: 10px;
  transition: height 0.5s;
}

.t:hover .card__body {
  height: 100px;
}

.card__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: rgb(0, 0, 0);
}

.card__description {
  position: absolute;
  /* left: 20px; */
  /* right: 20px; */
  /* bottom: 56px; */
  margin: 0;
  padding: 0;
  color: #000000;
  line-height: 27px;
  opacity: 0;
  /* transform: translateY(45px); */
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 0s;
}

.t:hover .card__description {
  opacity: 0.5;
  /* transform: translateY(0); */
  transition-delay: 0.2s;
}

.card__footer {
  position: absolute;
  bottom: 6px;
  /* left: 20px; */
  /* right: 20px; */
  font-size: 11px;
  color: #a3a9a2;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 2px;
  font-size: 18px;
}

.icon + .icon {
  padding-left: 10px;
}


.form_div_container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

#myVideo{
  position: absolute;
  top: 1px;
  z-index: 1;
  width: 100vw;
}

.form_div{
  position: absolute;
  z-index: 10;
  top: 210px;
  width: 566px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
.form_div p {
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
}
.form_p {
  font-size: 80px;
  font-weight: 700;
}
.p2 {
  font-size: 24px;
  font-weight: 500;

}
.form_button{
  /* position: absolute; */
  width: 580px;
  height: 50px;
  border-radius: 10px;
  background-color: red;
  color: aliceblue;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.form_cancelBtn {
width: 100%;
background-color: transparent;
border: none;
color: rgb(169, 166, 166);
cursor: pointer;
margin-top: 15px;
}


.auth-main{
  margin-top: 40px;
}

.PaymentForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 30px; */
}
.paymentF1 {
  height: 25px;
  width: 30%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.but_pay{
  width: 70px;
  height: 25px;
  background-color: rgb(59, 196, 59);
  border-radius: 5px;
  border: none;
  color: white;
}
